<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Web</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="cl-icon/css/all.min.css">
</head>

<body>

    <div class="wrapper">
        <form action="/login" method="POST" class="form">
            <h1 class="title">Inicio</h1>
            <div class="inp">
                <input type="text" name="username" id="username" class="input" placeholder="Usuario">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="password" id="password" class="input" placeholder="Contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Iniciar Sesión</button>
        </form>
        <div></div>
        <div class="banner">
            <h1 class="wel_text">BIENVENIDO<br/></h1>
            
        </div>
    </div>

</body>

</html>