<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/administrador">Administrador</a>
        </li>
        <li>
            <a href="/profesor">Profesor</a>
        </li>
        <li>
            <a href="/alumno">Alumno</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>
</nav>
